body{

    background-color: lightblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    line-height: 2rem;
    word-spacing: 1.2rem;
    text-align: center;
    background: url('img/giphy\ \(3\).gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
    background-blend-mode: screen;
}